<div class="center jumbotron">
  <h1>Welcome to Vegas Volunteer</h1>

  <h2>Click below to get started!</h2>
  <%= link_to "Find Jobs", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "List Jobs", signup_path, class: "btn btn-lg btn-primary" %>
</div>
